@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body{
  font-family: 'DM Sans';  
  padding: 100px 280px 0px 280px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.heading{
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}
.headingdesc{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding:12px 66px 43px 66px;
}
.page{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sep-line{
  width: 596.26px;
  border: 1px solid #D9DBE9;
  margin: 32px;
}
.title{
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin: 52px 32px 3px 32px;
}

.desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  
  margin: 3px 32px 39px 32px;
}
.label1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 9px;
}
.label1-error{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 9px;
  color:#962DFF;
}
.input1{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid #EFF0F7;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;
  padding: 15px 15px 15px 15px;
  margin:9px 0px 9px 0px;
}
.input1:focus {
  outline: none !important;
  border:1px solid #962DFF;
}
#nameinput::-webkit-input-placeholder{
  background: url(Assets/icon_name.png);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: padding-box;
  background-size: contain;
  font-style: normal;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #170F49;
}

#emailinput::-webkit-input-placeholder{
  background: url(Assets/icon_email.png);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: padding-box;
  background-size: 23px;
  font-style: normal;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #170F49;
}

#phoneinput::-webkit-input-placeholder{
  background: url(Assets/icon_phnumber.png);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: padding-box;
  background-size: contain;
  font-style: normal;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #170F49;
}
#companyinput::-webkit-input-placeholder{
  background: url(Assets/icon_company.png);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: padding-box;
  background-size: contain;
  font-style: normal;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #170F49;
}
input::-webkit-input-placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.error1{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color:#962DFF;
}
.button {
  padding:50px;
}

.question {
  margin:22px 14px 22px 14px;
}


.button-unselected {
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 16px;
  padding:50px 20px 50px 20px;
  margin:12px 14px 12px 14px;
  
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


/* Neutral/800 */

color: #170F49;
}
.button-unselected-img {
  content:url('Assets/button-unselected.png');
}
.button-selected-img {
  content:url('Assets/button-selected.png');
}
.button-selected{
  background: #FFFFFF;
  border: 2px solid #4A3AFF;
  box-shadow: 0px 2px 11px rgba(69, 65, 164, 0.06), 0px 4px 10px rgba(31, 37, 89, 0.07);
  border-radius: 16px;
  padding:50px 20px 50px 20px;
  margin:12px 14px 12px 14px;
  
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #170F49;
}

.question{
  display:flex;
  flex-direction: column;
}
.formpage{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}
.main{
  width:700px;
  height:870px;
}

.white-box{
  border: 1px solid #EFF0F7;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
  padding: 32px 46px 80px 23px;
  height:500px;
}
.progress-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.previousbutton{
  border: 1px solid #4A3AFF;
  border-radius: 66px;
  padding: 19px 40px 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #4A3AFF;
  background-color: #FFFFFF;
  
  margin-right: auto;

}
.nextbutton{
  background: #4A3AFF;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  padding: 20px 40px 21px;
  gap: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  
  margin-left: auto;
}
#prevnext{
  display: flex;
  margin-top: 32px;
}
.formpage{
  
}


.option{
  display: inline-flex;
  align-items: center;
  align-content:space-between;
}

.budgettext{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
padding: 0px 10px 0px 10px;

}
.srvtext{
  margin-left: 80px;
}
.dev-base {
  position: relative;
}
.dev-1 {
  position: absolute;
  top: -34px;
  z-index: 1;
  
  width:70px;
}
.dev-2 {
  position: absolute;
   margin-top: -26px;
   margin-left:6px;
      z-index: 2;
}
.dev-3 {
  position: absolute;
  height: 38px;
  margin-top: -18px;
  margin-left:15px;
      z-index: 3;
}
.other-3 {
  position: absolute;
  height: 38px;
  margin-top: -18px;
  margin-left:16px;
      z-index: 3;
}
.submit-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-submit{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
  text-align: center;
  margin:3px 70px 3px 70px;
}
.submit-button{
  background: #4A3AFF;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  padding: 20px 40px 21px;
  gap: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-top:15px;
}